name: Run tests and build production artifact

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]



jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npx vitest
      - name: Build project
        run: npx vite build
